# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.Python

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
local_settings.py
*.pot
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Docker
*.pid
*.seed
*.bak
*.swp
docker-compose.override.yml
.env.docker

# System
.DS_Store
Thumbs.db

# Coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.pyd
**/migrations/__pycache__/
**/migrations/*.sqlite3

# Pipenv
Pipfile.lock

# MyPy
.mypy_cache/
.dmypy.json
.pyre/

# Test output
test-results/